body { 

    font-family: 'Robot';
  
    background: #CBE4DE;
;
    
    } 
    h1,h2,h3,h4,h5,h6,p,li {
    text-decoration: ;
    padding: 8px;
    font-size: large;
    
    }
.bg-white {background-color:#2C3333;}